<link rel="stylesheet" href="styles/common.css" />

<div class="content">
  <div class="content-horizontal">
    <div class="content-vertical">
      <button id="add-bookmark" class="girafe-button-small">
        <img alt="add-icon" src="${this.iconAdd}" />
      </button>

      <button class="girafe-button-small" onclick="${() => this.navigateBack()}">
        <img alt="previous-icon" src="${this.iconPrevious}" />
      </button>
    </div>
    <div class="content-vertical">
      <girafe-menu-button open="bottom-left">
        <button slot="menu-button" class="girafe-button-small">
          <img alt="menu-icon" src="${this.iconBookmark}" />
        </button>

        <div slot="menu-content" class="${this.hasBookmark ? 'menu-content' : 'hidden'}">
          ${Object.values(this.bookmarks).map(bookmark => uHtmlFor(bookmark, bookmark.name)`
          <div class="content-horizontal">
            <button
              slot="menu-button"
              class="girafe-button-large grow"
              onclick="${() => this.navigateToPosition(bookmark.position)}">
              <span>${bookmark.name}</span>
            </button>
            <button slot="menu-button" class="girafe-button-small" onclick="${() => this.removeBookmark(bookmark)}">
              <img alt="menu-icon" src="${this.iconTrash}" />
            </button>
          </div>
          ` )}
        </div>
        <div slot="menu-content" class="${this.hasBookmark ? 'hidden' : 'menu-content'}">
          <span i18n="No bookmark">No bookmark.</span>
        </div>
      </girafe-menu-button>

      <button slot="menu-button" class="girafe-button-small" onclick="${() => this.navigateForward()}">
        <img alt="menu-icon" src="${this.iconNext}" />
      </button>
    </div>
  </div>
</div>
