:host,
#panel {
  min-height: 10rem;
  height: 16rem;
  background: var(--bkg-color);
}

#panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#gutter {
  border: none;
  height: 6px;
  width: 100%;
  background: var(--bkg-color);
  position: absolute;
  top: 0;
  left: 0;
  cursor: row-resize;
}

#close {
  border: none;
  color: #777;
  padding: 0;
  margin: 0.5rem;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--bkg-color);
  cursor: pointer;
}

#close i:before {
  content: '\f00d';
}

#close:hover {
  border-color: #000;
  color: #000;
}

#content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bkg-color);
  padding: 0;
  margin: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#header {
  flex: 0;
  display: flex;
}

.tab {
  border: solid 1px #ccc;
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  padding: 0 1rem;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
  background-color: var(--bkg-color-grad2);
}

.tab.active {
  color: var(--text-color);
  background-color: var(--bkg-color);
}

#grid {
  overflow: hidden;
  flex: 1;
}

.gridjs-wrapper {
  overflow-x: hidden !important;
  height: 100% !important;
  width: 100% !important;
}

.gridjs-container {
  height: 100%;
  width: 100%;
}

.geo-type {
  margin-right: 0.5rem;
}

button {
  float: right;
  margin-left: 0.5rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #999;
}

.gridjs-table {
  background-color: var(--bkg-color) !important;
  color: var(--text-color);
}

td.gridjs-td {
  background-color: var(--bkg-color) !important;
  padding: 0 0.5rem !important;
  line-height: 1.2rem !important;
}

th.gridjs-th {
  color: var(--text-color-grad2);
  background-color: var(--bkg-color-grad2) !important;
}

.gridjs-th-content {
  color: var(--text-color) !important;
}

.tiny-margin {
  margin: 0.1rem;
}
