::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #999;
}

.hidden {
  display: none;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: var(--bkg-color);
}

.menu {
  border-top: solid 1px #bbb;
  background-color: var(--bkg-color);
  height: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 6px;
  z-index: 1;
  font-size: 0;
  display: flex;
}

.treeview-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 5px;
  bottom: 2.3rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-right: 0.7rem;
  margin: 0;
  margin-top: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.rotate90 {
  transform: rotate(90deg);
}

.selectable {
  cursor: pointer;
}

.selectable:hover {
  color: #000;
}

girafe-basemap {
  position: absolute;
  right: 0;
  top: 0;
}
